@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 80px;
}

.text-center {
  text-align: center;
}

#navbar-label {
  float: right;
}

.event-listing {
  list-style: none;
  padding: 0;
}

.flex {
  display: block;
  box-sizing: border-box;
}

.invited-events {
  display: block;
  position: fixed;
}